$bg: "bg";
$primary: "primary";
$secondary: "secondary";

$toggleTransformFirst: "toggle-transform-first";
$toggleTransformSecond: "toggle-transform-second";

$themes: (
  light: (
    bg: $bg--light,
    primary: $primary--light,
    secondary: $secondary--light,
    toggleTransformFirst: $toggle-transform-first--light,
    toggleTransformSecond: $toggle-transform-second--light,
  ),
  dark: (
    bg: $bg--dark,
    primary: $primary--dark,
    secondary: $secondary--dark,
    toggleTransformFirst: $toggle-transform-first--dark,
    toggleTransformSecond: $toggle-transform-second--dark,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
