.card {
  @include themed() {
    background-color: t($bg-card);
  }
}

.theme--dark {
  .card-header {
    border-bottom: 1px solid darken($text--dark, 40%);
  }
}

.theme--light {
  .card-header {
    border-bottom: 1px solid lighten($text--light, 60%);
  }
}

.img-wrapper-small {
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
}
