.app-wrapper {
  @include themed() {
    width: 100%;
    height: 100vh;
    background: t($bg);
    color: t($text);
  }
}

.menu-dashboard-layout-wrapper {
  width: 100%;
}

.sidebar-wrapper {
  padding: 1rem;
  outline: 1px solid red;
}
