$bg--light: #eee;
$bg-card--light: #eee;
$text--light: #000;
$primary--light: #3370ff;
$secondary--light: #b02e0c;

$bg--dark: #12181b;
$bg-card--dark: #2a2e36;
$text--dark: #fff;
$primary--dark: #3370ff;
$secondary--dark: #ab2346;
